@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "../../../src/assets/css/index.css";

:root:where(.dark, .dark *) {
  --background: oklch(0.2265 0.0186 266.1546);
  --foreground: oklch(0.9219 0 0);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}